.booking {
  min-height: 555px;
  padding: 50px 60px;
  background-color: #b3dafb;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1920px) {
    background-image: url('../img/booking_desktop.jpg');

    @include retina {
      background-image: url('../img/booking_desktop@2x.jpg');
    }
  }

  @include vp-1919 {
    background-image: url('../img/booking_desktop.jpg');

    @include retina {
      background-image: url('../img/booking_desktop@2x.jpg');
    }
  }

  @include vp-1365 {
    padding: 88px 132px 100px;
    background-image: url('../img/booking_tablet.jpg');

    @include retina {
      background-image: url('../img/booking_tablet@2x.jpg');
    }
  }

  @include vp-767 {
    padding: 60px 0 65px;
    background-image: url('../img/booking_mobile.jpg');

    @include retina {
      background-image: url('../img/booking_mobile@2x.jpg');
    }
  }
}

.booking__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1365 {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
  }
}

.booking__text {
  margin-right: 50px;
  padding-top: 163px;

  @include vp-1365 {
    margin: 0;
    margin-bottom: 41px;
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 34px;
    text-align: center;
  }
}

.booking__text h2 {
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;

  @include vp-1365 {
    margin: 0 0 5px;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__text p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;

  @include vp-1365 {
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  }
}

.booking form {
  display: flex;
  flex-direction: column;
  max-width: 403px;
  min-height: 455px;
  padding: 45px 50px;
  background-color: $color-default-black;

  @include vp-767 {
    padding: 34px 29px 40px;
  }
}

.booking__form br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.booking__form p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: 27px;
    line-height: 25px;
    text-align: center;
  }
}

.booking__form label {
  position: relative;
  font-size: 10px;
  line-height: 13px;
  color: $color-default-white;
}

.booking__form input::placeholder {
  font-size: 14px;
  line-height: 21px;
}

.booking__form input {
  margin-bottom: 18px;
}

.booking__form input:not([type="checkbox"]) {
  width: 100%;
  padding: 12px 14px;
}

.booking__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-default-white;
}

.booking__label {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 23px;
  font-size: 10px;
  line-height: 13px;

  @include vp-767 {
    padding-left: 29px;
    padding-right: 50px;
    line-height: 12px;
  }
}

.booking button {
  margin-top: 35px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;

  @include vp-767 {
    margin-top: 26px;
  }
}
