.page-footer {
  position: relative;
  min-height: 138px;
  background-color: $color-default-black;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-footer__logo-wrapper {
  margin-right: 30px;

  @include vp-1365 {
    margin-right: 15px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.page-footer__logo-wrapper img {
  width: 70px;
  height: auto;

  @include vp-1365 {
    width: 38px;
  }

  @include vp-767 {
    width: 42px;
  }
}

.page-footer__menu-wrapper ul {
  display: flex;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.page-footer__menu-wrapper li {
  @include vp-767 {
    margin-bottom: 23px;
  }
}

.page-footer__menu-wrapper li:last-child {
  @include vp-767 {
    margin-bottom: 0;
  }
}

.page-footer__menu-wrapper a {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @include vp-1365 {
    font-size: 12px;
    line-height: 15px;
  }
}

.page-footer__social-wrapper {
  margin-left: auto;

  @include vp-767 {
    margin: 0;
  }
}

.page-footer__social-wrapper ul {
  display: flex;
}

.page-footer__social-wrapper li {
  margin-right: 28px;

  @include vp-1365 {
    margin-right: 23px;
  }
}

.page-footer__social-wrapper li:last-child {
  margin-right: 0;
}

.page-footer__social-wrapper li svg {
  width: 20px;
  height: 20px;

  @include vp-1365 {
    width: 16px;
    height: 16px;
  }
}
